
<script id="template_page_creator_CreateStory" type="text/x-handlebars-template">
	{{> template_creator_CreateOrEditStory}}
</script>
<script id="template_page_creator_EditStory" type="text/x-handlebars-template">
	{{> template_creator_CreateOrEditStory}}
</script>

<script id="template_creator_CreateOrEditStory" type="text/x-handlebars-template">
	<form action="#customRedirect" >
		<div data-role="fieldcontain">
			<label for="editStory_storyName">Name: </label>
			<input id="editStory_storyName" name="name" type="text" value="{{name}}"/>
		</div>
		<div data-role="fieldcontain">
			<label for="editStory_description">Description:</label>
			<textarea id="editStory_description" name="description" cols="40" rows="8">{{description}}</textarea>
		</div>
		<div data-role="fieldcontain">
			<label for="editStory_tags">Tags</label>
			<input id="editStory_tags" name="tags" type="text" value="{{tags}}" />
		</div>
		
		<div data-role="fieldcontain">
			<label for="editStory_language">Language</label>
			<input id="editStory_language" name="language" type="text" value="{{language}}" />
		</div>
	
		<div data-role="controlgroup" data-type="horizontal">
			<!-- <input  type="reset" value="cancel" />
			<input  type="submit" value="submit" /> -->
			<a href="#customRedirect" data-role="button" type="cancel" >Cancel</a>
			<a href="#customRedirect" data-role="button" data-theme="b" type="submit">Submit</a>
		</div>
	</form>
</script>


<script id="template_page_creator_stories" type="text/x-handlebars-template">
	{{> template_listviews_SimpleList}}
</script>

<script id="template_page_creator_stories_storyid" type="text/x-handlebars-template">
	{{> template_menus_simple}}
</script>

<script id="template_page_creator_signup" type="text/x-handlebars-template">
	<p>Please Signup</p>
	<div data-role="fieldcontain">
		<form action="#" method="post" >
			<label for="username" >Username:</label>
			<input type="text" name="username" id="username"/>
			<label for="password" >Password:</label>
			<input type="password" name="password" id="password" />
			
			<div data-role="controlgroup" data-type="horizontal">
				<input type="reset" value="logout">
				<input type="submit" value="signup">
			</div>
		</form>
	</div>
</script>

<script id="template_page_creator_login" type="text/x-handlebars-template">
	<p>Please Login with your userdata</p>
	<div data-role="fieldcontain">
		<form action="#">
			<label for="login_username" >Username:</label>
			<input type="text" name="name" id="login_username"/>
			
			<label for="login_password" >Password:</label>
			<input type="password" name="password" id="login_password"/>
			
			<div data-role="controlgroup" data-type="horizontal">
				<a href="#customRedirect" data-role="button" type="cancel">Logout</a>
				<a href="#customRedirect" data-role="button" data-theme="b" type="submit">Login</a>
			</div>
		</form>
	</div>
</script>
		
<script id="template_page_creator_vPos_hPos" type="text/x-handlebars-template">
	<ul data-role="listview" data-inset="true" data-split-theme="a">
		{{#fields}}
			{{#ifFieldIsTypeOf this "statictext"}}
				{{#$ ../../props }}{{> template_creator_formitems_text_display}}{{/$}}
			{{/ifFieldIsTypeOf}}
			{{#ifFieldIsTypeOf this "textfield"}}
				{{#$ ../../props }}{{> template_creator_formitems_textfield_display}}{{/$}}
			{{/ifFieldIsTypeOf}}
		{{/fields}} 
		
		{{> template_creator_formitems_linkPageDecisions_display}}

        {{> template_creator_formitems_delete_display}}
	</ul>
</script>


<script id="template_creator_formitems_delete_display" type="text/x-handlebars-template">
    <a href="#customRedirect" type="delete" data-role="button">Delete Page</a>
</script>

<script id="template_dialog_creator_fields_options" type="text/x-handlebars-template"> 
	<h3>Options for Item</h3>
	<div data-role="fieldcontain">
		<form action="#" method="GET">
		
			{{#ifFieldIsTypeOf this.field "statictext"}}
				{{#$ .. }}{{> template_creator_formitems_statictext_options}}{{/$}}
			{{/ifFieldIsTypeOf}}
			{{#ifFieldIsTypeOf this.field "textfield"}}
				{{#$ .. }}{{> template_creator_formitems_textfield_options}}{{/$}}
			{{/ifFieldIsTypeOf}}

			{{#ifFieldIsTypeOf this.field "header"}}
				{{#$ ../../props }}{{> template_creator_header_options}}{{/$}}
			{{/ifFieldIsTypeOf}}
			
			{{> template_creator_page_options_buttons}}
		</form>
	</div>
</script>

<script id="template_dialog_creator_link_options" type="text/x-handlebars-template"> 
	<h3>Options for Links</h3>
	<div data-role="fieldcontain">
		<form action="#" method="GET">
				<label for="template_creator_link_options_value" >Label:</label>
				<input type="text" name="value" id="template_creator_link_options_value" value="{{field.value}}" />
                {{whatis this}}
                <a href="#creator/stories/{{storyId}}/{{vPos}}/{{hPos}}/links/{{linkPos}}/{{vPos}}" id="template_creator_link_options_destination" data-role="button">Select Destination</a>
			{{> template_creator_page_options_buttons}}
		</form>
	</div>
</script>

<script id="template_creator_page_options_buttons" type="text/x-handlebars-template">
	<div data-role="controlgroup" data-type="horizontal">
		<a href="#" data-role="button" type="submit">Save</a>
		<a href="#" data-role="button" type="delete">Delete</a>
		<a href="#" data-role="button" type="reset">Close</a>
	</div>
</script>

<script id="template_creator_formitems_textfield_options" type="text/x-handlebars-template">
	<label for="template_creator_formitems_textfield_options_value" >Label:</label>
	<input type="text" name="value" id="template_creator_formitems_textfield_options_value" value="{{field.value}}" />
</script>

<script id="template_creator_formitems_statictext_options" type="text/x-handlebars-template">
	<label for="template_creator_page_formitems_options_value" >Name:</label>
	<form>
		<textarea name="value" id="template_creator_page_formitems_options_value" >{{{field.value}}}</textarea>
	</form>
</script>

<script id="template_creator_formitems_text_display" type="text/x-handlebars-template">
	<li data-icon="star" >
		<a data-identity="{{$_.pos}}" href="{{getEditOptionsURLForCurrentField}}" data-ajax="false">{{{$_.value}}}</a>
		<a href="#" >something</a>
	</li>
</script>

<script id="template_creator_formitems_textfield_display" type="text/x-handlebars-template">
	<li>
		<a href="{{getEditOptionsURLForCurrentField}}">
			<span id="textid" placeholder="Enter character name" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset" style="padding: 7px; width: auto">
				{{$_.value}}
			</span>
		</a>
	</li>
</script>

<script id="template_creator_formitems_linkPageDecisions_display" type="text/x-handlebars-template">
	<li style="background-color:red;">
		<div data-role="controlgroup" data-type="horizontal">
				{{whatis this}}
			{{#linkPageDecisions}}
<!-- 			"#creator/stories/"+this._id+"/"+this.horizontal+"/"+this.vertical+"/"+this.$_.pos; -->

				<a href="#creator/stories/{{../props/_id }}/{{../props/vertical}}/{{../props/horizontal}}/links/{{pos}}" data-role="button" type="">{{value}}</a>
			{{/linkPageDecisions}}
		</div>
	</li>
</script>
<!-- 		<a href="#creator/stories/{{_id }}/{{vertical}}/{{horizontal}}/{{$_.formItemPos}}">
		</a> -->
			<!-- <a href="#creator/stories/{{_id }}/{{vertical}}/{{horizontal}}/{{$_.formItemPos}}" class="setFormItemProperties" data-ajax="false" >PROPERTIES</a> -->


<script id="template_page_creator_stories_story_browse" type="text/x-handlebars-template">
	<div data-role="header">
		<h2>{{headerTitle}}</h2>
		<a href="#" data-icon="delete">Close</a>
	</div>
	<div data-role="content">
		<ul data-role="listview" data-theme="a" data-divendertheme="b">  <!-- class="ui-block-b transparent" data-inset="true" -->
            {{whatis this}}
			{{#pages}}
			<li>
				<a href="#creator/stories/{{../id}}/{{../vPos}}/{{hPos}}" data-ajax="false"><p>{{hPos}} {{header.value}}</p></a>
			</li>
			{{/pages}}
            <li>
                <a href="#creator/stories/{{id}}/{{vPos}}/{{addNewPage.hPos}}" data-ajax="false"><p>{{addNewPage.title}}</p></a>
            </li>



		</ul>
	</div>
	<div data-role="footer" data-position="fixed">
		<form>
		<label for="slider-0">Input slider:</label>
		<input type="range" name="slider" id="slider" value="0" min="0" max="100" data-mini="true" />
		</form>
	</div>
</script>