
<script id="template_basic_page_simple" type="text/x-handlebars-template">
	<div data-role="header">
		<h2>{{headerTitle}}</h2>
        {{whatis this}}
		<a href="javascript:history.go(-1);" data-icon="star" id="backButton"  data-rel="back">Back</a>
	</div>
	<div data-role="content">
		{{> templatePartialPageID}}
	</div>
	<div data-role="footer">
		Footer
	</div>
</script>


<script id="template_menus_simple" type="text/x-handlebars-template">
	<div class="reader_index_content">
		<div class="ui-grid-a" >
			<div class="ui-block-a" > </div>
			<ul data-role="listview" data-theme="g" class="ui-block-b transparent" data-inset="true">
			
			{{#menuObjects}}
				<li data-role="list-divider">{{header}}</li>
				{{#menu}}
				<li>
					<a href="#{{route}}"  class="reader_index_menu_link" data-url="#{{route}}" data-identity="{{route}}" data-ajax="false" > <!--data-ajax="false"  -->
						{{entry}}
					</a>
				</li>
				{{/menu}}
			{{/menuObjects}}
			</ul>
		</div>
	</div>
</script>

<script id="template_listviews_SimpleList" type="text/x-handlebars-template">
	<ul data-role="listview" data-theme="c" data-divendertheme="b">
		{{#storyObjects}}
			<li>
				<a href="#{{../visitEntryPrefix}}{{_id}}" data-ajax="false" > <!-- data-identity="{{_id}}"-->
					<h2>{{name}}</h2>
					<p>{{creator}}</p>
					<p>{{tags}}</p>
				</a>
			</li>
		{{/storyObjects}}
	</ul>
</script>